@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
   background-color: white;
}

h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   color: rgba(0,0,0,.8);
   font-size: 50px;
   margin-top: 20%;
   margin-bottom: 45%;
   margin-right: 10%;
   text-align: center;
   letter-spacing: -1px;
   padding-bottom: 60px;
}

footer div{
   position: fixed; bottom: 0; width:100%; text-align: center;
   font-size: 30px;
   color: rgba(0,0,0,.8);
   margin-left: -5%;
}

#imagecontainer {
   width: 30%;
   padding-right: 10%;
   margin: auto;

}

img {
   width: 30%;
   float:right;
   margin-bottom: 300px;
   opacity: .8;

}

img:hover {
   opacity: .7;
}
.navigation {
    list-style: none;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.site-wrap {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 2;
    padding: 4em;
    background-color: white;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
    position: fixed;
    top: 23px;
    left: 20px;
    z-index: 3;
     width: 40px;
    height: 40px;
    opacity: .8;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}
.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}
body {
    overflow-x: hidden;
}
#containerCR {
   position: static;
   position: bottom: 0;
   margin-left: -40px;
   padding-bottom: 30px;

}
#copyright {
   position:absolute; bottom:0;

}
.nav-item {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color: rgba(0,0,0,.8);
   font-size: 15px;
   letter-spacing: .2px;
   line-height: 40px;
}
a:link {
   text-decoration: none;
   color: rgba(0,0,0,.8);
}
a:hover {
   opacity:.7;
}
a:visited {
   color: rgba(0,0,0,.8);
}
